<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
  <?include Variables.wxi?>
  
	<Product Id="*" 
           Name="$(var.ProductName)" 
           Language="1049" 
           Version="$(var.Version)" 
           Manufacturer="$(var.Manufacturer)" 
           UpgradeCode="ceed7874-addb-4b86-af85-e6feb748b6c1">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />
    
    <Property Id="SERVER_PORT" Value="$(var.DefaultPort)"/>

    <Property Id="DATA_SERVER" Hidden="yes" />
    <Property Id="DATA_DB" Hidden="yes" />
    <Property Id="DATA_LOGIN" Hidden="yes" />
    <Property Id="DATA_PASSWORD" Hidden="yes" />

    <Property Id="DATACHECKED" Hidden="yes" />
    
    <!-- ОПИСАНИЕ КАСТОМНЫХ ДЕЙСТВИЙ -->
    <Binary Id="ServerActions" SourceFile="$(var.InstallerCustomActions.TargetDir)$(var.InstallerCustomActions.TargetName).CA.dll" />
    <CustomAction Id="LoadConfigs" BinaryKey="ServerActions" DllEntry="ReadServerConfig" Execute="immediate" Return="check" />
    <CustomAction Id="CheckDataDb" BinaryKey="ServerActions" DllEntry="CheckDataConnection" Execute="immediate" Return="check" />

    <!-- ПРОВЕРКА ОБНОВЛЕНИЙ -->
    <MajorUpgrade DowngradeErrorMessage="Более новая версия [ProductName] уже установлена." Schedule="afterInstallExecute" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLLOCATION" Name="$(var.InstallLocation)" />
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="ApplicationServer" />
      </Directory>
    </Directory>

	  <Feature Id="ProductFeature" Title="ApplicationInstaller" Level="1">
			<ComponentRef Id="ProductComponents" />
      <ComponentRef Id="ApplicationShortcuts"/>
		</Feature>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION"></Property>
    <UIRef Id="WixUI_ServerMaster"/>
	</Product>
</Wix>