<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcuts" Guid="{DFA97C7E-E565-44D2-8D1E-7AB1E52ADB01}">
        <Shortcut Id="StartShortcut"
                  Name="Application Server"
                  Description="Start application server"
                  Target="[INSTALLLOCATION]ApplicationWindowsService.exe"
                  WorkingDirectory="INSTALLLOCATION"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU"
                       Key="Software\MyCompany\ApplicationServer"
                       Name="installed"
                       Type="integer"
                       Value="1"
                       KeyPath="yes"/>
        <Shortcut Id="UninstallApplicationServer"
                  Name="Uninstall application serrver"
                  Description="Uninstall application serrver"
                  Target="[System64Folder]msiexec.exe"
                  Arguments="/x [ProductCode]"/>
      </Component>
    </DirectoryRef>
	</Fragment>
</Wix>