<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <system.serviceModel>
    <services>
      <service name="ApplicationService.Common.ApplicationService">
        <host>
          <baseAddresses>
            <add baseAddress = "net.tcp://localhost:8888/ApplicationService/" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <!-- Unless fully qualified, address is relative to base address supplied above -->
        <endpoint address="" binding="netTcpBinding" contract="ApplicationService.Common.IApplicationService" />
        <!-- Metadata Endpoints -->
        <!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. -->
        <!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <log4net>
    <appender name="_LogFile" type="log4net.Appender.FileAppender">
      <file value="Application.log"/>
      <appendToFile value="true"/>

      <layout type="log4net.Layout.PatternLayout">
        <header value="========== [ Application started ] =========================================================================================&#xD;&#xA;" />
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline%exception"/>
        <footer value="========== [ Application finished ] ========================================================================================&#xD;&#xA;&#xD;&#xA;&#xD;&#xA;" />
      </layout>
    </appender>

    <root>
      <level value="DEBUG"/>
      <appender-ref ref="_LogFile"/>
    </root>

  </log4net>
  
</configuration>